html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'MulanFont';
    src: url('./fonts/mulan/Mulan.ttf') format('truetype'); /* Ajusta el formato según corresponda (truetype, woff, woff2) */
    font-weight: normal;
    font-style: normal;
}

.body-total{
    height: 100%; /* Para que ocupe toda la altura de la ventana */
    width: 100%;
     /* Asegura que abarque todo el ancho */
    background-color: black;
    background-image: url("/src/assets/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex: wrap;
   
    align-items: center;
    justify-content: center;
}

.body {
    
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 2%; /* Centra todos los elementos hijos horizontalmente */
     /* Espacio entre los elementos dentro de .body */
}

.mulan22 {
    max-width: 50%;
    padding-top: 2rem;
    margin-right: -90px;
}
.dragon{
    margin-right: -45px;
    max-width: 33%;
    padding-top: 2rem;
}
.grillo{
    margin-left: -50px;
    max-width: 33%;
    padding-top: 2rem;
}

.cuadro-dragon {
    margin-top: -25px;
    display: flex;
    flex-direction: row-reverse; /* Cambia si deseas un layout diferente */
    align-items: center; /* Centra el contenido dentro de .cuadro-dragon */
    justify-content: center; /* Centra el contenido en el eje horizontal */
    max-width: 100%;
    border: 5rem;
    
}

.logo{
    margin-top: -50px;
    width: 60%;
}
.parrafo {
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(196, 132, 132);
    padding-top: 1rem;
    text-align: center;
}
.parrafo1 {
   
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    text-shadow: 1px 1px 6px rgb(255, 255, 255);
    padding-top: 1rem;
    text-align: center;
    
}
.parrafotext{
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(196, 132, 132);
    padding-top: 1rem;
    text-align: center;
}

.title {
    font-family: 'MulanFont', sans-serif;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(248, 248, 248);
    padding-top: 1em;
   text-decoration: underline  rgb(234, 106, 204);
   text-decoration: top  rgb(234, 106, 204);
   padding-bottom: 1rem;
}

.fecha {
    font-weight: bold;
    width: 100%;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgb(196, 132, 132);
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
    
   
}

/* Media Queries */
@media screen and (max-width: 1412px) {
    .title {
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    .parrafo {
        font-size: 1.5rem;
    }
    .fecha {
        font-size: 1.5rem;
    }

    .parrafo1 {
   
        width: 100%;
        font-size: 1.0em;
        font-weight: bold;
        text-shadow: 1px 1px 6px rgb(255, 255, 255);
        padding-top: 1rem;
        text-align: center;
        
    }

    .fecha {
        font-weight: bold;
        width: 100%;
        font-size: 2.8rem;
        text-shadow: 1px 1px 2px rgb(196, 132, 132);
        padding-top: 1rem;
        text-align: center;
        padding-bottom: 1rem;
        
       
    }
    .parrafotext{
        width: 100%;
        font-size: 1.3rem;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgb(196, 132, 132);
        padding-top: 1rem;
        text-align: center;
    }


}

@media screen and (max-width: 968px) {
    .title {
        font-size: 2rem;
    }
    .parrafo {
        font-size: 1.2rem;
    }
    .parrafotext{
        width: 100%;
        font-size: 1.3rem;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgb(196, 132, 132);
        padding-top: 1rem;
        text-align: center;
    }
    .fecha {
        font-weight: bold;
        width: 100%;
        font-size: 2.8rem;
        text-shadow: 1px 1px 2px rgb(196, 132, 132);
        padding-top: 1rem;
        text-align: center;
        padding-bottom: 1rem;
}
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 2.5rem;
    }
    .parrafo {
        font-size: 1rem;
        padding-left: 0.5rem;
    }
    .parrafotext{
        width: 100%;
        font-size: 0.8rem;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgb(196, 132, 132);
        padding-top: 1rem;
        text-align: center;
    }
    .fecha {
        font-weight: bold;
        width: 100%;
        font-size: 3rem;
        text-shadow: 1px 1px 2px rgb(196, 132, 132);
        padding-top: 1rem;
        text-align: center;
        padding-bottom: 1rem;
}
}