html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.body-total{
    height: 100vh; /* Para que ocupe toda la altura de la ventana */
    width: 100%; /* Asegura que abarque todo el ancho */
    background-color: black;
    background-image: url("/src/assets/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.body {
    
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-right: 2%; /* Centra todos los elementos hijos horizontalmente */
     /* Espacio entre los elementos dentro de .body */
}

.mulan22 {
    max-width: 50%;
    padding-top: 2rem;
}
.dragon{
    max-width: 33%;
    padding-top: 2rem;
}
.grillo{
    max-width: 33%;
    padding-top: 2rem;
}

.cuadro-dragon {
    display: flex;
    flex-direction: row-reverse; /* Cambia si deseas un layout diferente */
    align-items: center; /* Centra el contenido dentro de .cuadro-dragon */
    justify-content: center; /* Centra el contenido en el eje horizontal */
    max-width: 100%;
    border: 5rem;
    
}

.parrafo {
    width: 100%;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(196, 132, 132);
    padding-top: 1rem;
    text-align: center;
}
.parrafo4 {
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(196, 132, 132);
    padding-top: 1rem;
    text-align: center;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgb(68, 155, 226);
}

.title {
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(196, 132, 132);
    padding: 1rem;
    -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: rgb(158, 16, 171);
}

.fecha {
    font-weight: bold;
    width: 100%;
    font-size: 3rem;
    text-shadow: 1px 1px 2px rgb(196, 132, 132);
    padding-top: 1rem;
    text-align: center;
    text-decoration: underline wavy rgb(215, 28, 171);
    padding-bottom: 1rem;
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgb(158, 16, 171);
   
}

/* Media Queries */
@media screen and (max-width: 1412px) {
    .title {
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    .parrafo {
        font-size: 1.5rem;
    }
    .fecha {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 968px) {
    .title {
        font-size: 2rem;
    }
    .parrafo {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 1.5rem;
    }
    .parrafo {
        font-size: 1rem;
        padding-left: 0.5rem;
    }
}
